<ion-app>
  <ion-split-pane when="lg" content-id="main">
    <ion-menu content-id="main" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Jackson's Dealer Suite</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let item of filteredItems()">
            <ion-item [routerLink]="item.path" routerLinkActive="active" lines="none">
              <ion-icon slot="start" [name]="item.icon"></ion-icon>
              <ion-label>{{ item.label }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="main-shell" id="main">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Jackson's Dealer Suite Console</ion-title>
          <ion-buttons slot="end">
            <ion-button fill="clear" (click)="logout()">Sign out</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <router-outlet></router-outlet>
      </ion-content>
    </div>
  </ion-split-pane>
</ion-app>
