<ion-header>
  <ion-toolbar>
    <ion-title>Administration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Adapter Credentials</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="save()">
        <ion-item>
          <ion-label position="stacked">Frazer Hub Base URL</ion-label>
          <ion-input formControlName="frazerHubUrl"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">TextMaxx API Key</ion-label>
          <ion-input formControlName="textMaxxApiKey"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">SiriusXM API Key</ion-label>
          <ion-input formControlName="siriusXmApiKey"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">CardPointe Merchant ID</ion-label>
          <ion-input formControlName="cardPointeMerchantId"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">CardPointe API User</ion-label>
          <ion-input formControlName="cardPointeApiUser"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">CardPointe API Key</ion-label>
          <ion-input formControlName="cardPointeApiKey"></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block">Save Changes</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Add Inventory Vehicle</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="inventoryForm" (ngSubmit)="addInventory()">
        <ion-item>
          <ion-label position="stacked">Stock Number</ion-label>
          <ion-input formControlName="stockNumber" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">VIN</ion-label>
          <ion-input formControlName="vin" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Year</ion-label>
          <ion-input formControlName="year" type="number" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Make</ion-label>
          <ion-input formControlName="make" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Model</ion-label>
          <ion-input formControlName="model" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Trim</ion-label>
          <ion-input formControlName="trim" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Price</ion-label>
          <ion-input formControlName="price" type="number" min="0" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Cost</ion-label>
          <ion-input formControlName="cost" type="number" min="0" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Date Arrived</ion-label>
          <ion-input formControlName="dateArrived" type="date"></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block">Add Vehicle</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
